

@import 'tailwindcss';

.grid-70-30 {
  /* Mobile: 1 column, md and up: 70%/30% */
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .grid-70-30 {
    grid-template-columns: 70% 30%;
  }
}